<footer class="usa-footer usa-footer-slim usa-sans" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
      <a href="#top">Return to top</a>
    </div>
    <div class="usa-footer-primary-section">
      <div class="usa-grid-full">
        <nav class="usa-footer-nav usa-width-two-thirds">
          <ul class="usa-unstyled-list">
            {% for nav_page in site.pages %}
              {% if nav_page.title %}
              <li class="usa-width-one-fourth usa-footer-primary-content">
                <a class="usa-footer-primary-link" href="{{ nav_page.url | prepend:site.baseurl }}">{{ nav_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
        <div class="usa-width-one-sixth usa-footer-primary-content">
          <p>(800) CALL-GOVT</p>
        </div>
        <div class="usa-width-one-sixth usa-footer-primary-content">
          <a href="mailto:{{ site.agency.email }}">{{ site.agency.email }}</a>
        </div>
      </div>
    </div>

    <div class="usa-footer-secondary_section">
      <div class="usa-grid">
        <div class="usa-footer-logo">
          <img class="usa-footer-slim-logo-img" src="{{ site.baseurl }}/assets/img/logo-img.png" alt="Logo image">
          <h3 class="usa-footer-slim-logo-heading">{{ site.agency.name }}</h3>
        </div>
      </div>
    </div>
  </footer>
